span{
    color:#39FF14;
}
.eq{
    color:black;
}
.first{
   height:100vh;
    width:100%;
    background-image: url(equb.jpg);
    background-size:cover;
    background-position: center;
    
  
}
.carousel-item{
    margin-top: 30px;
    height:fit-content;
    margin-left:10px;
}
.image{
    height:400px;
    width:300;
    
}


.second{
    height:100vh;
    width:100%;
    background-image:url(grey.jpg);
    background-size:cover;
    background-position: center;
    
}
.second h1{
    text-align: center;
    padding-top: 50px;
    text-decoration: underline black;
}
.container{
    padding-top: 50px;
}
.second p{
    text-align: center;
}